<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Default.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 99}</string>
			<key>spriteSourceSize</key>
			<string>{71, 99}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{148, 312}, {71, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fall-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 102}</string>
			<key>spriteSourceSize</key>
			<string>{70, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{75, 2}, {70, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fall-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 103}</string>
			<key>spriteSourceSize</key>
			<string>{71, 103}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 323}, {71, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Idle-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 5}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 428}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Idle-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 4}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 457}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Idle-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 3}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 426}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Shoot-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 455}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Shoot-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 6}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162, 413}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Shoot-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162, 442}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Swing-Left-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 4}, {58, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162, 471}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Swing-Left-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 3}, {58, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{221, 104}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Swing-Right-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{221, 133}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Swing-Right-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {60, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{221, 162}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{293, 2}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 99}</string>
			<key>spriteSourceSize</key>
			<string>{71, 99}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{219, 207}, {71, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 102}</string>
			<key>spriteSourceSize</key>
			<string>{71, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{75, 322}, {71, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 104}</string>
			<key>spriteSourceSize</key>
			<string>{71, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 111}, {71, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 107}</string>
			<key>spriteSourceSize</key>
			<string>{71, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {71, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 100}</string>
			<key>spriteSourceSize</key>
			<string>{71, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{148, 105}, {71, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 100}</string>
			<key>spriteSourceSize</key>
			<string>{71, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{220, 2}, {71, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 101}</string>
			<key>spriteSourceSize</key>
			<string>{71, 101}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{75, 106}, {71, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Left-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 101}</string>
			<key>spriteSourceSize</key>
			<string>{71, 101}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{147, 2}, {71, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Left-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 103}</string>
			<key>spriteSourceSize</key>
			<string>{70, 103}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{74, 217}, {70, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Right-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 101}</string>
			<key>spriteSourceSize</key>
			<string>{71, 101}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{146, 209}, {71, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Right-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 104}</string>
			<key>spriteSourceSize</key>
			<string>{70, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 217}, {70, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>