<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>CreepyWoods-01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {512, 512}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{512, 512}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{432, 1030}, {512, 512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CreepyWoods-02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {512, 512}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{512, 512}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 516}, {512, 512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CreepyWoods-03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {512, 512}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{512, 512}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {512, 512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CreepyWoods-04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {512, 512}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{512, 512}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 2}, {512, 512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CreepyWoods-05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {512, 512}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{512, 512}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 516}, {512, 512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CreepyWoods-06.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {512, 512}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{512, 512}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{946, 1030}, {512, 512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DarkBranchOverlay1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {284, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{284, 220}</string>
			<key>spriteSourceSize</key>
			<string>{284, 220}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1498, 2}, {284, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DarkBranchOverlay2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {428, 260}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{428, 260}</string>
			<key>spriteSourceSize</key>
			<string>{428, 260}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1030}, {428, 260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DarkBranchOverlay3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {288, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{288, 181}</string>
			<key>spriteSourceSize</key>
			<string>{288, 181}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1167, 782}, {288, 181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DarkBranchOverlay4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {403, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{403, 222}</string>
			<key>spriteSourceSize</key>
			<string>{403, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1030, 384}, {403, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DarkBranchOverlay5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {313, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{313, 176}</string>
			<key>spriteSourceSize</key>
			<string>{313, 176}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1457, 782}, {313, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DarkBranchOverlay6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {445, 245}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{445, 245}</string>
			<key>spriteSourceSize</key>
			<string>{445, 245}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1030, 137}, {445, 245}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DarkBranchOverlay7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{248, 158}</string>
			<key>spriteSourceSize</key>
			<string>{248, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1784, 152}, {248, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DarkBranchOverlay8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {256, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{256, 148}</string>
			<key>spriteSourceSize</key>
			<string>{256, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1784, 2}, {256, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DarkBranchOverlay9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {419, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{419, 224}</string>
			<key>spriteSourceSize</key>
			<string>{419, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1292}, {419, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LeftSpawnTree.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 212}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 212}</string>
			<key>spriteSourceSize</key>
			<string>{135, 212}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1030, 773}, {135, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mist1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {354, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{354, 182}</string>
			<key>spriteSourceSize</key>
			<string>{354, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1435, 384}, {354, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mist2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {466, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{466, 133}</string>
			<key>spriteSourceSize</key>
			<string>{466, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1030, 2}, {466, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mist3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {330, 163}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{330, 163}</string>
			<key>spriteSourceSize</key>
			<string>{330, 163}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1030, 608}, {330, 163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mist4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {417, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{417, 150}</string>
			<key>spriteSourceSize</key>
			<string>{417, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1518}, {417, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mist5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {303, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{303, 138}</string>
			<key>spriteSourceSize</key>
			<string>{303, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1477, 224}, {303, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RightSpawnTree.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 212}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 212}</string>
			<key>spriteSourceSize</key>
			<string>{135, 212}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1435, 568}, {135, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>