<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Blocks</key>
	<array>
		<dict>
			<key>CategoryBits</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Team 1 Safe Block</string>
			<key>Height</key>
			<integer>175</integer>
			<key>MaskBits</key>
			<integer>65532</integer>
			<key>PosX</key>
			<integer>67</integer>
			<key>PosY</key>
			<integer>123</integer>
			<key>Width</key>
			<integer>133</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Team 1 Front Wall</string>
			<key>Height</key>
			<integer>175</integer>
			<key>MaskBits</key>
			<integer>1</integer>
			<key>PosX</key>
			<integer>146</integer>
			<key>PosY</key>
			<integer>123</integer>
			<key>Width</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Team 1 SpawnTree</string>
			<key>Height</key>
			<integer>342</integer>
			<key>MaskBits</key>
			<integer>65535</integer>
			<key>PosX</key>
			<integer>80</integer>
			<key>PosY</key>
			<integer>339</integer>
			<key>Width</key>
			<integer>157</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Team 2 Safe Block</string>
			<key>Height</key>
			<integer>175</integer>
			<key>MaskBits</key>
			<integer>65530</integer>
			<key>PosX</key>
			<integer>3007</integer>
			<key>PosY</key>
			<integer>123</integer>
			<key>Width</key>
			<integer>133</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Team 2 Front Wall</string>
			<key>Height</key>
			<integer>175</integer>
			<key>MaskBits</key>
			<integer>1</integer>
			<key>PosX</key>
			<integer>2927</integer>
			<key>PosY</key>
			<integer>123</integer>
			<key>Width</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Team 2 SpawnTree</string>
			<key>Height</key>
			<integer>342</integer>
			<key>MaskBits</key>
			<integer>65535</integer>
			<key>PosX</key>
			<integer>2993</integer>
			<key>PosY</key>
			<integer>339</integer>
			<key>Width</key>
			<integer>157</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Left Stump</string>
			<key>Height</key>
			<integer>80</integer>
			<key>MaskBits</key>
			<integer>65535</integer>
			<key>PosX</key>
			<integer>614</integer>
			<key>PosY</key>
			<integer>60</integer>
			<key>Width</key>
			<integer>74</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Left Stump 2</string>
			<key>Height</key>
			<integer>80</integer>
			<key>MaskBits</key>
			<integer>65535</integer>
			<key>PosX</key>
			<integer>1180</integer>
			<key>PosY</key>
			<integer>60</integer>
			<key>Width</key>
			<integer>74</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>8</integer>
			<key>Description</key>
			<string>Left Spawn Tree Branch</string>
			<key>Height</key>
			<integer>16</integer>
			<key>MaskBits</key>
			<integer>65535</integer>
			<key>PosX</key>
			<integer>281</integer>
			<key>PosY</key>
			<integer>387</integer>
			<key>Width</key>
			<integer>226</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>8</integer>
			<key>Description</key>
			<string>Left Tree 1</string>
			<key>Height</key>
			<integer>14</integer>
			<key>MaskBits</key>
			<integer>65535</integer>
			<key>PosX</key>
			<integer>664</integer>
			<key>PosY</key>
			<integer>290</integer>
			<key>Width</key>
			<integer>110</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>8</integer>
			<key>Description</key>
			<string>Left Tree 2</string>
			<key>Height</key>
			<integer>11</integer>
			<key>MaskBits</key>
			<integer>65535</integer>
			<key>PosX</key>
			<integer>774</integer>
			<key>PosY</key>
			<integer>404</integer>
			<key>Width</key>
			<integer>92</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>8</integer>
			<key>Description</key>
			<string>Left Tree 3</string>
			<key>Height</key>
			<integer>25</integer>
			<key>MaskBits</key>
			<integer>65535</integer>
			<key>PosX</key>
			<integer>814</integer>
			<key>PosY</key>
			<integer>293</integer>
			<key>Width</key>
			<integer>74</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>8</integer>
			<key>Description</key>
			<string>Left Tree 4</string>
			<key>Height</key>
			<integer>14</integer>
			<key>MaskBits</key>
			<integer>65535</integer>
			<key>PosX</key>
			<integer>927</integer>
			<key>PosY</key>
			<integer>330</integer>
			<key>Width</key>
			<integer>123</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>8</integer>
			<key>Description</key>
			<string>Left Tree 5</string>
			<key>Height</key>
			<integer>14</integer>
			<key>MaskBits</key>
			<integer>65535</integer>
			<key>PosX</key>
			<integer>992</integer>
			<key>PosY</key>
			<integer>253</integer>
			<key>Width</key>
			<integer>123</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>8</integer>
			<key>Description</key>
			<string>Left Tree 6</string>
			<key>Height</key>
			<integer>12</integer>
			<key>MaskBits</key>
			<integer>65535</integer>
			<key>PosX</key>
			<integer>1041</integer>
			<key>PosY</key>
			<integer>168</integer>
			<key>Width</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>8</integer>
			<key>Description</key>
			<string>Right Spawn Tree Branch</string>
			<key>Height</key>
			<integer>16</integer>
			<key>MaskBits</key>
			<integer>65535</integer>
			<key>PosX</key>
			<integer>2788</integer>
			<key>PosY</key>
			<integer>387</integer>
			<key>Width</key>
			<integer>226</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>8</integer>
			<key>Description</key>
			<string>Right Tree 1</string>
			<key>Height</key>
			<integer>12</integer>
			<key>MaskBits</key>
			<integer>65535</integer>
			<key>PosX</key>
			<integer>2037</integer>
			<key>PosY</key>
			<integer>168</integer>
			<key>Width</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>8</integer>
			<key>Description</key>
			<string>Right Tree 2</string>
			<key>Height</key>
			<integer>14</integer>
			<key>MaskBits</key>
			<integer>65535</integer>
			<key>PosX</key>
			<integer>2087</integer>
			<key>PosY</key>
			<integer>253</integer>
			<key>Width</key>
			<integer>123</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>8</integer>
			<key>Description</key>
			<string>Right Tree 3</string>
			<key>Height</key>
			<integer>14</integer>
			<key>MaskBits</key>
			<integer>65535</integer>
			<key>PosX</key>
			<integer>2151</integer>
			<key>PosY</key>
			<integer>330</integer>
			<key>Width</key>
			<integer>123</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>8</integer>
			<key>Description</key>
			<string>Right Tree 4</string>
			<key>Height</key>
			<integer>25</integer>
			<key>MaskBits</key>
			<integer>65535</integer>
			<key>PosX</key>
			<integer>2238</integer>
			<key>PosY</key>
			<integer>294</integer>
			<key>Width</key>
			<integer>139</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>8</integer>
			<key>Description</key>
			<string>Right Tree 5</string>
			<key>Height</key>
			<integer>11</integer>
			<key>MaskBits</key>
			<integer>65535</integer>
			<key>PosX</key>
			<integer>2304</integer>
			<key>PosY</key>
			<integer>405</integer>
			<key>Width</key>
			<integer>92</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>8</integer>
			<key>Description</key>
			<string>Right Tree 6</string>
			<key>Height</key>
			<integer>14</integer>
			<key>MaskBits</key>
			<integer>65535</integer>
			<key>PosX</key>
			<integer>2415</integer>
			<key>PosY</key>
			<integer>290</integer>
			<key>Width</key>
			<integer>110</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Right Tree Stump</string>
			<key>Height</key>
			<integer>80</integer>
			<key>MaskBits</key>
			<integer>65535</integer>
			<key>PosX</key>
			<integer>2496</integer>
			<key>PosY</key>
			<integer>60</integer>
			<key>Width</key>
			<integer>74</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Right Tree Stump 2</string>
			<key>Height</key>
			<integer>80</integer>
			<key>MaskBits</key>
			<integer>65535</integer>
			<key>PosX</key>
			<integer>1903</integer>
			<key>PosY</key>
			<integer>60</integer>
			<key>Width</key>
			<integer>74</integer>
		</dict>
		<dict>
			<key>CategoryBits</key>
			<integer>1</integer>
			<key>Description</key>
			<string>Middle Rock</string>
			<key>Height</key>
			<integer>72</integer>
			<key>MaskBits</key>
			<integer>65535</integer>
			<key>PosX</key>
			<integer>1540</integer>
			<key>PosY</key>
			<integer>57</integer>
			<key>Width</key>
			<integer>167</integer>
		</dict>
	</array>
	<key>FloorHeight</key>
	<string>30</string>
	<key>Powerups</key>
	<array>
		<dict>
			<key>PosX</key>
			<integer>1534</integer>
			<key>PosY</key>
			<integer>136</integer>
			<key>SpriteName</key>
			<string>Cupcake1.png</string>
			<key>Type</key>
			<string>Wings</string>
		</dict>
		<dict>
			<key>PosX</key>
			<integer>267</integer>
			<key>PosY</key>
			<integer>410</integer>
			<key>SpriteName</key>
			<string>Cupcake2.png</string>
			<key>Type</key>
			<string>Protein</string>
		</dict>
		<dict>
			<key>PosX</key>
			<integer>2803</integer>
			<key>PosY</key>
			<integer>415</integer>
			<key>SpriteName</key>
			<string>Cupcake2.png</string>
			<key>Type</key>
			<string>Protein</string>
		</dict>
		<dict>
			<key>PosX</key>
			<integer>784</integer>
			<key>PosY</key>
			<integer>431</integer>
			<key>SpriteName</key>
			<string>Cupcake3.png</string>
			<key>Type</key>
			<string>Windwalk</string>
		</dict>
		<dict>
			<key>PosX</key>
			<integer>2303</integer>
			<key>PosY</key>
			<integer>429</integer>
			<key>SpriteName</key>
			<string>Cupcake3.png</string>
			<key>Type</key>
			<string>Windwalk</string>
		</dict>
	</array>
	<key>Sprites</key>
	<array>
		<dict>
			<key>PosX</key>
			<integer>256</integer>
			<key>PosY</key>
			<integer>256</integer>
			<key>SpriteName</key>
			<string>CreepyWoods-01.png</string>
			<key>Z</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>PosX</key>
			<integer>768</integer>
			<key>PosY</key>
			<integer>256</integer>
			<key>SpriteName</key>
			<string>CreepyWoods-02.png</string>
			<key>Z</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>PosX</key>
			<integer>1280</integer>
			<key>PosY</key>
			<integer>256</integer>
			<key>SpriteName</key>
			<string>CreepyWoods-03.png</string>
			<key>Z</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>PosX</key>
			<integer>1792</integer>
			<key>PosY</key>
			<integer>256</integer>
			<key>SpriteName</key>
			<string>CreepyWoods-04.png</string>
			<key>Z</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>PosX</key>
			<integer>2304</integer>
			<key>PosY</key>
			<integer>256</integer>
			<key>SpriteName</key>
			<string>CreepyWoods-05.png</string>
			<key>Z</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>PosX</key>
			<integer>2816</integer>
			<key>PosY</key>
			<integer>256</integer>
			<key>SpriteName</key>
			<string>CreepyWoods-06.png</string>
			<key>Z</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>PosX</key>
			<real>67.5</real>
			<key>PosY</key>
			<integer>111</integer>
			<key>SpriteName</key>
			<string>LeftSpawnTree.png</string>
			<key>Z</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PosX</key>
			<integer>3006</integer>
			<key>PosY</key>
			<integer>114</integer>
			<key>SpriteName</key>
			<string>RightSpawnTree.png</string>
			<key>Z</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PosX</key>
			<integer>531</integer>
			<key>PosY</key>
			<integer>53</integer>
			<key>SpriteName</key>
			<string>DarkBranchOverlay1.png</string>
			<key>Z</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PosX</key>
			<integer>724</integer>
			<key>PosY</key>
			<integer>418</integer>
			<key>SpriteName</key>
			<string>DarkBranchOverlay2.png</string>
			<key>Z</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PosX</key>
			<integer>1034</integer>
			<key>PosY</key>
			<integer>64</integer>
			<key>SpriteName</key>
			<string>DarkBranchOverlay3.png</string>
			<key>Z</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PosX</key>
			<real>1278.5</real>
			<key>PosY</key>
			<integer>434</integer>
			<key>SpriteName</key>
			<string>DarkBranchOverlay4.png</string>
			<key>Z</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PosX</key>
			<integer>1555</integer>
			<key>PosY</key>
			<real>54.5</real>
			<key>SpriteName</key>
			<string>DarkBranchOverlay5.png</string>
			<key>Z</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PosX</key>
			<real>1803.5</real>
			<key>PosY</key>
			<real>425.5</real>
			<key>SpriteName</key>
			<string>DarkBranchOverlay6.png</string>
			<key>Z</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PosX</key>
			<real>2021.5</real>
			<key>PosY</key>
			<integer>50</integer>
			<key>SpriteName</key>
			<string>DarkBranchOverlay7.png</string>
			<key>Z</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PosX</key>
			<integer>2433</integer>
			<key>PosY</key>
			<real>54.5</real>
			<key>SpriteName</key>
			<string>DarkBranchOverlay8.png</string>
			<key>Z</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PosX</key>
			<real>2441.5</real>
			<key>PosY</key>
			<integer>438</integer>
			<key>SpriteName</key>
			<string>DarkBranchOverlay9.png</string>
			<key>Z</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PosX</key>
			<integer>737</integer>
			<key>PosY</key>
			<integer>142</integer>
			<key>SpriteName</key>
			<string>Mist1.png</string>
			<key>Z</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PosX</key>
			<integer>1223</integer>
			<key>PosY</key>
			<integer>389</integer>
			<key>SpriteName</key>
			<string>Mist2.png</string>
			<key>Z</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PosX</key>
			<integer>1585</integer>
			<key>PosY</key>
			<integer>198</integer>
			<key>SpriteName</key>
			<string>Mist3.png</string>
			<key>Z</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PosX</key>
			<integer>2138</integer>
			<key>PosY</key>
			<integer>421</integer>
			<key>SpriteName</key>
			<string>Mist4.png</string>
			<key>Z</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PosX</key>
			<integer>2546</integer>
			<key>PosY</key>
			<integer>142</integer>
			<key>SpriteName</key>
			<string>Mist5.png</string>
			<key>Z</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>SpriteSheets</key>
	<array>
		<string>CreepyWoods.plist</string>
	</array>
	<key>TeamA</key>
	<dict>
		<key>HomeHeight</key>
		<string>175</string>
		<key>HomeWidth</key>
		<string>158</string>
		<key>HomeX</key>
		<string>0</string>
		<key>HomeY</key>
		<string>45</string>
		<key>SpawnX</key>
		<integer>79</integer>
		<key>SpawnY</key>
		<string>123</string>
	</dict>
	<key>TeamB</key>
	<dict>
		<key>HomeHeight</key>
		<string>175</string>
		<key>HomeWidth</key>
		<string>158</string>
		<key>HomeX</key>
		<string>2906</string>
		<key>HomeY</key>
		<string>45</string>
		<key>SpawnX</key>
		<integer>2994</integer>
		<key>SpawnY</key>
		<string>124</string>
	</dict>
	<key>WorldHeight</key>
	<integer>512</integer>
	<key>WorldWidth</key>
	<integer>3072</integer>
</dict>
</plist>
