<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Death.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {69, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{69, 100}</string>
			<key>spriteSourceSize</key>
			<string>{69, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{93, 213}, {69, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Default.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {74, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 97}</string>
			<key>spriteSourceSize</key>
			<string>{74, 97}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 210}, {74, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fall-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 104}</string>
			<key>spriteSourceSize</key>
			<string>{79, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 211}, {79, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fall-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 101}</string>
			<key>spriteSourceSize</key>
			<string>{80, 101}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 111}, {80, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fall-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 104}</string>
			<key>spriteSourceSize</key>
			<string>{80, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 107}, {80, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Idle-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {70, 38}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{70, 38}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{173, 361}, {70, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Idle-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {70, 38}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{70, 38}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{173, 401}, {70, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Idle-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {70, 38}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{70, 38}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{345, 44}, {70, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Shoot-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {70, 42}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{70, 42}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 317}, {70, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Shoot-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {70, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{70, 42}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 458}, {70, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Shoot-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {72, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{72, 44}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 315}, {72, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Swing-Left-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {68, 40}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{68, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 104}, {68, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Swing-Left-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {68, 40}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{68, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{345, 2}, {68, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Swing-Right-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {70, 38}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{70, 38}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{415, 2}, {70, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Swing-Right-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {72, 40}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{72, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 416}, {72, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {70, 38}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{70, 38}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 146}, {70, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 101}</string>
			<key>spriteSourceSize</key>
			<string>{76, 101}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{180, 2}, {76, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 104}</string>
			<key>spriteSourceSize</key>
			<string>{78, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{260, 104}, {78, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 107}</string>
			<key>spriteSourceSize</key>
			<string>{80, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {80, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 98}</string>
			<key>spriteSourceSize</key>
			<string>{76, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{327, 311}, {76, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 98}</string>
			<key>spriteSourceSize</key>
			<string>{78, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 311}, {78, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 98}</string>
			<key>spriteSourceSize</key>
			<string>{79, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 361}, {79, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {81, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{81, 98}</string>
			<key>spriteSourceSize</key>
			<string>{81, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 211}, {81, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Default.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {89, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{89, 99}</string>
			<key>spriteSourceSize</key>
			<string>{89, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 214}, {89, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Left-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {92, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{92, 102}</string>
			<key>spriteSourceSize</key>
			<string>{92, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 107}, {92, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Left-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 103}</string>
			<key>spriteSourceSize</key>
			<string>{94, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 2}, {94, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Right-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {88, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{88, 99}</string>
			<key>spriteSourceSize</key>
			<string>{88, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 315}, {88, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Right-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 100}</string>
			<key>spriteSourceSize</key>
			<string>{85, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 2}, {85, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>