<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Default.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{83, 101}</string>
			<key>spriteSourceSize</key>
			<string>{83, 101}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{249, 208}, {83, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fall-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {82, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 98}</string>
			<key>spriteSourceSize</key>
			<string>{82, 98}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 211}, {82, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fall-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{84, 99}</string>
			<key>spriteSourceSize</key>
			<string>{84, 99}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{323, 309}, {84, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Idle-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 5}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 309}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Idle-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 4}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162, 311}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Idle-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 3}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 336}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Shoot-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 415}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Shoot-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 6}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 442}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Shoot-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{323, 408}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Swing-Left-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 4}, {58, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{168, 413}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Swing-Left-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 3}, {58, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{401, 408}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Swing-Right-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{250, 0}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Swing-Right-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {60, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{328, 0}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{250, 27}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{84, 102}</string>
			<key>spriteSourceSize</key>
			<string>{84, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 211}, {84, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{83, 104}</string>
			<key>spriteSourceSize</key>
			<string>{83, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{167, 0}, {83, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{83, 106}</string>
			<key>spriteSourceSize</key>
			<string>{83, 106}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {83, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{83, 106}</string>
			<key>spriteSourceSize</key>
			<string>{83, 106}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 105}, {83, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{84, 102}</string>
			<key>spriteSourceSize</key>
			<string>{84, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 313}, {84, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{84, 101}</string>
			<key>spriteSourceSize</key>
			<string>{84, 101}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 363}, {84, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{83, 102}</string>
			<key>spriteSourceSize</key>
			<string>{83, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{240, 311}, {83, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Left-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{84, 103}</string>
			<key>spriteSourceSize</key>
			<string>{84, 103}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 105}, {84, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Left-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{84, 105}</string>
			<key>spriteSourceSize</key>
			<string>{84, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 0}, {84, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Right-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{83, 103}</string>
			<key>spriteSourceSize</key>
			<string>{83, 103}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 208}, {83, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Right-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{83, 105}</string>
			<key>spriteSourceSize</key>
			<string>{83, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 106}, {83, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>