<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Death.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {69, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{69, 103}</string>
			<key>spriteSourceSize</key>
			<string>{69, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 212}, {69, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Default.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 97}</string>
			<key>spriteSourceSize</key>
			<string>{72, 97}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{91, 216}, {72, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fall-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 104}</string>
			<key>spriteSourceSize</key>
			<string>{80, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 110}, {80, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fall-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 102}</string>
			<key>spriteSourceSize</key>
			<string>{80, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{257, 2}, {80, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fall-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 106}</string>
			<key>spriteSourceSize</key>
			<string>{80, 106}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 108}, {80, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Idle-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {66, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{66, 38}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{407, 2}, {66, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Idle-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {66, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 38}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{339, 2}, {66, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Idle-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {66, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{66, 38}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{388, 207}, {66, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Shoot-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {66, 42}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{66, 42}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{159, 416}, {66, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Shoot-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {66, 42}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{66, 42}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 460}, {66, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Shoot-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{89, 416}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Swing-Left-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {64, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{64, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{388, 247}, {64, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Swing-Left-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {64, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{64, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 208}, {64, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Swing-Right-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {66, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{66, 38}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 357}, {66, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Swing-Right-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {68, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{68, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 418}, {68, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {66, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{66, 38}</string>
			<key>spriteSourceSize</key>
			<string>{80, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 317}, {66, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {74, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 100}</string>
			<key>spriteSourceSize</key>
			<string>{76, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{257, 106}, {74, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 104}</string>
			<key>spriteSourceSize</key>
			<string>{78, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{177, 2}, {78, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 106}</string>
			<key>spriteSourceSize</key>
			<string>{80, 106}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {80, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 98}</string>
			<key>spriteSourceSize</key>
			<string>{75, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{89, 316}, {75, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 99}</string>
			<key>spriteSourceSize</key>
			<string>{78, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{333, 106}, {78, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 99}</string>
			<key>spriteSourceSize</key>
			<string>{80, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{321, 316}, {80, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {82, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{82, 99}</string>
			<key>spriteSourceSize</key>
			<string>{82, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{237, 316}, {82, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Default.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 98}</string>
			<key>spriteSourceSize</key>
			<string>{87, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 216}, {87, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Left-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {89, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{89, 102}</string>
			<key>spriteSourceSize</key>
			<string>{89, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 108}, {89, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Left-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{91, 104}</string>
			<key>spriteSourceSize</key>
			<string>{91, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 2}, {91, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Right-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 100}</string>
			<key>spriteSourceSize</key>
			<string>{85, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 316}, {85, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Right-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{83, 102}</string>
			<key>spriteSourceSize</key>
			<string>{83, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{237, 212}, {83, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>