<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<array>
		<dict>
			<key>TargetTime</key>
			<integer>40</integer>
			<key>BotScore</key>
			<integer>10</integer>
			<key>Bots</key>
			<array>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.3</real>
					<key>AI</key>
					<string>Com</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.3</real>
					<key>AI</key>
					<string>Nin</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TargetTime</key>
			<integer>45</integer>
			<key>Bots</key>
			<array>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.3</real>
					<key>AI</key>
					<string>Com</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.3</real>
					<key>AI</key>
					<string>Nin</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.3</real>
					<key>AI</key>
					<string>Sni</string>
				</dict>
			</array>
			<key>BotScore</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>TargetTime</key>
			<integer>50</integer>
			<key>Bots</key>
			<array>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.3</real>
					<key>AI</key>
					<string>Com</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.3</real>
					<key>AI</key>
					<string>Nin</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.3</real>
					<key>AI</key>
					<string>Sni</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Bullseye</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.3</real>
					<key>AI</key>
					<string>Com</string>
				</dict>
			</array>
			<key>BotScore</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>TargetTime</key>
			<integer>55</integer>
			<key>BotScore</key>
			<integer>10</integer>
			<key>Bots</key>
			<array>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.3</real>
					<key>AI</key>
					<string>Com</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.3</real>
					<key>AI</key>
					<string>Nin</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.3</real>
					<key>AI</key>
					<string>Sni</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Bullseye</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.3</real>
					<key>AI</key>
					<string>Com</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Bullseye</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.3</real>
					<key>AI</key>
					<string>Nin</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TargetTime</key>
			<integer>60</integer>
			<key>BotScore</key>
			<integer>10</integer>
			<key>Bots</key>
			<array>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.3</real>
					<key>AI</key>
					<string>Com</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.3</real>
					<key>AI</key>
					<string>Nin</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.3</real>
					<key>AI</key>
					<string>Sni</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Bullseye</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.3</real>
					<key>AI</key>
					<string>Com</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Bullseye</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.3</real>
					<key>AI</key>
					<string>Nin</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Bullseye</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.3</real>
					<key>AI</key>
					<string>Sni</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TargetTime</key>
			<integer>65</integer>
			<key>BotScore</key>
			<integer>20</integer>
			<key>Bots</key>
			<array>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Com</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Nin</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Bullseye</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Sni</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TargetTime</key>
			<integer>70</integer>
			<key>BotScore</key>
			<integer>20</integer>
			<key>Bots</key>
			<array>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Com</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Nin</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Sni</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Bullseye</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Com</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TargetTime</key>
			<integer>75</integer>
			<key>BotScore</key>
			<integer>20</integer>
			<key>Bots</key>
			<array>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Com</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Nin</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Sni</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Bullseye</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Com</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Bullseye</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Nin</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TargetTime</key>
			<integer>80</integer>
			<key>BotScore</key>
			<integer>20</integer>
			<key>Bots</key>
			<array>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Com</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Nin</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Sni</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Com</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Bullseye</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Nin</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Bullseye</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Sni</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TargetTime</key>
			<integer>85</integer>
			<key>BotScore</key>
			<integer>20</integer>
			<key>Bots</key>
			<array>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Com</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Nin</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Sni</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Lambo</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Com</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Bullseye</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Nin</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Bullseye</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Sni</string>
				</dict>
				<dict>
					<key>PawnType</key>
					<string>Bullseye</string>
					<key>X</key>
					<integer>-1</integer>
					<key>Y</key>
					<integer>-1</integer>
					<key>Handicap</key>
					<real>0.5</real>
					<key>AI</key>
					<string>Com</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
