<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Death.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{71, 99}</string>
			<key>spriteSourceSize</key>
			<string>{71, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{367, 108}, {71, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Default.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 99}</string>
			<key>spriteSourceSize</key>
			<string>{71, 99}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 214}, {71, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Fall-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 102}}</string>
			<key>spriteOffset</key>
			<string>{0.5, -1.5}</string>
			<key>spriteSize</key>
			<string>{70, 102}</string>
			<key>spriteSourceSize</key>
			<string>{70, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{438, 2}, {70, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Fall-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{71, 103}</string>
			<key>spriteSourceSize</key>
			<string>{71, 103}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{220, 2}, {71, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun-Idle-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 5}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{308, 211}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun-Idle-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 4}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{228, 269}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun-Idle-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 3}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{148, 240}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun-Shoot-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{308, 240}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun-Shoot-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 6}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{308, 269}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun-Shoot-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{388, 240}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun-Swing-Left-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 4}, {58, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{228, 211}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun-Swing-Left-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 3}, {58, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{228, 240}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun-Swing-Right-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{388, 211}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun-Swing-Right-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {60, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{148, 269}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 27}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{148, 211}, {78, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Jump-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 99}</string>
			<key>spriteSourceSize</key>
			<string>{71, 99}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{75, 211}, {71, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Jump-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -1.5}</string>
			<key>spriteSize</key>
			<string>{71, 102}</string>
			<key>spriteSourceSize</key>
			<string>{71, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{365, 2}, {71, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Jump-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -2.5}</string>
			<key>spriteSize</key>
			<string>{71, 104}</string>
			<key>spriteSourceSize</key>
			<string>{71, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{75, 2}, {71, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Jump-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{71, 107}</string>
			<key>spriteSourceSize</key>
			<string>{71, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {71, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Stand-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 100}</string>
			<key>spriteSourceSize</key>
			<string>{71, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{294, 108}, {71, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Stand-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 100}</string>
			<key>spriteSourceSize</key>
			<string>{71, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{221, 108}, {71, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Stand-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0.5}</string>
			<key>spriteSize</key>
			<string>{71, 101}</string>
			<key>spriteSourceSize</key>
			<string>{71, 101}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{75, 108}, {71, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Walk-Left-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{71, 101}</string>
			<key>spriteSourceSize</key>
			<string>{71, 101}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 111}, {71, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Walk-Left-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{70, 103}</string>
			<key>spriteSourceSize</key>
			<string>{70, 103}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{293, 2}, {70, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Walk-Right-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{71, 101}</string>
			<key>spriteSourceSize</key>
			<string>{71, 101}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{148, 108}, {71, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Walk-Right-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -2.5}</string>
			<key>spriteSize</key>
			<string>{70, 104}</string>
			<key>spriteSourceSize</key>
			<string>{70, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{148, 2}, {70, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>
