<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>BullseyeProfile.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{33, 33}, {338, 216}}</string>
			<key>spriteOffset</key>
			<string>{2, 9}</string>
			<key>spriteSize</key>
			<string>{338, 216}</string>
			<key>spriteSourceSize</key>
			<string>{400, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 226}, {338, 216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>GinjaNinjaProfile.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 28}, {358, 222}}</string>
			<key>spriteOffset</key>
			<string>{-7, 11}</string>
			<key>spriteSize</key>
			<string>{358, 222}</string>
			<key>spriteSourceSize</key>
			<string>{400, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 2}, {358, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LamboProfile.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 27}, {340, 232}}</string>
			<key>spriteOffset</key>
			<string>{2, 7}</string>
			<key>spriteSize</key>
			<string>{340, 232}</string>
			<key>spriteSourceSize</key>
			<string>{400, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 646}, {340, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LobbyBackground.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 320}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {480, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainScreenBackground.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 320}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 324}, {480, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PorcusMaximusProfile.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{54, 33}, {336, 224}}</string>
			<key>spriteOffset</key>
			<string>{22, 5}</string>
			<key>spriteSize</key>
			<string>{336, 224}</string>
			<key>spriteSourceSize</key>
			<string>{400, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 646}, {336, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>