<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Death.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 97}</string>
			<key>spriteSourceSize</key>
			<string>{72, 97}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{237, 2}, {72, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Default.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 97}</string>
			<key>spriteSourceSize</key>
			<string>{72, 97}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 105}, {72, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Fall-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {82, 105}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{82, 105}</string>
			<key>spriteSourceSize</key>
			<string>{82, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 219}, {82, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Fall-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {81, 105}}</string>
			<key>spriteOffset</key>
			<string>{-4.5, -4}</string>
			<key>spriteSize</key>
			<string>{81, 105}</string>
			<key>spriteSourceSize</key>
			<string>{81, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 326}, {81, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun-Idle-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 5}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{58, 15}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 432}, {58, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun-Idle-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 4}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{3, 2}</string>
			<key>spriteSize</key>
			<string>{58, 15}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 494}, {58, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun-Idle-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 3}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{3, 3}</string>
			<key>spriteSize</key>
			<string>{58, 15}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 449}, {58, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun-Shoot-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 15}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 467}, {58, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun-Shoot-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 6}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{58, 15}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 484}, {58, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun-Shoot-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 15}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 450}, {58, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun-Swing-Left-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 4}, {58, 19}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 19}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 454}, {58, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun-Swing-Left-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 3}, {58, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{58, 19}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 433}, {58, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun-Swing-Right-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{58, 15}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 433}, {58, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun-Swing-Right-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {60, 17}}</string>
			<key>spriteOffset</key>
			<string>{6, -1}</string>
			<key>spriteSize</key>
			<string>{60, 17}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 475}, {60, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Gun.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{58, 15}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 494}, {58, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Jump-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {77, 101}}</string>
			<key>spriteOffset</key>
			<string>{-2.5, 2}</string>
			<key>spriteSize</key>
			<string>{77, 101}</string>
			<key>spriteSourceSize</key>
			<string>{77, 101}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 2}, {77, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Jump-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {81, 104}}</string>
			<key>spriteOffset</key>
			<string>{-4.5, 3.5}</string>
			<key>spriteSize</key>
			<string>{81, 104}</string>
			<key>spriteSourceSize</key>
			<string>{81, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{85, 326}, {81, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Jump-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {81, 106}}</string>
			<key>spriteOffset</key>
			<string>{-4.5, 4.5}</string>
			<key>spriteSize</key>
			<string>{81, 106}</string>
			<key>spriteSourceSize</key>
			<string>{81, 106}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 111}, {81, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Jump-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {81, 107}}</string>
			<key>spriteOffset</key>
			<string>{-4.5, 5}</string>
			<key>spriteSize</key>
			<string>{81, 107}</string>
			<key>spriteSourceSize</key>
			<string>{81, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {81, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Stand-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 96}}</string>
			<key>spriteOffset</key>
			<string>{-1.5, -0.5}</string>
			<key>spriteSize</key>
			<string>{75, 96}</string>
			<key>spriteSourceSize</key>
			<string>{75, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 315}, {75, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Stand-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 95}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{78, 95}</string>
			<key>spriteSourceSize</key>
			<string>{78, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 413}, {78, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Stand-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {81, 94}}</string>
			<key>spriteOffset</key>
			<string>{-4.5, -1.5}</string>
			<key>spriteSize</key>
			<string>{81, 94}</string>
			<key>spriteSourceSize</key>
			<string>{81, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 204}, {81, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Stand-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 93}}</string>
			<key>spriteOffset</key>
			<string>{-6.5, -2}</string>
			<key>spriteSize</key>
			<string>{85, 93}</string>
			<key>spriteSourceSize</key>
			<string>{85, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 101}, {85, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Walk-Left-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 100}</string>
			<key>spriteSourceSize</key>
			<string>{75, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{159, 213}, {75, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Walk-Left-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {77, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{77, 103}</string>
			<key>spriteSourceSize</key>
			<string>{77, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{85, 108}, {77, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Walk-Right-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 101}</string>
			<key>spriteSourceSize</key>
			<string>{71, 101}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{86, 213}, {71, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Walk-Right-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 104}</string>
			<key>spriteSourceSize</key>
			<string>{71, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{85, 2}, {71, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>
