<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Arrow-Right-Active.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 68}</string>
			<key>spriteSourceSize</key>
			<string>{52, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 2}, {52, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Arrow-Right-Disabled.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 68}</string>
			<key>spriteSourceSize</key>
			<string>{52, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 72}, {52, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Arrow-Right.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 68}</string>
			<key>spriteSourceSize</key>
			<string>{52, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 142}, {52, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueCrosshair.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 822}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueCrosshair2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {69, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{69, 69}</string>
			<key>spriteSourceSize</key>
			<string>{69, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 822}, {69, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BullseyeProfile.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{33, 33}, {338, 216}}</string>
			<key>spriteOffset</key>
			<string>{2, 9}</string>
			<key>spriteSize</key>
			<string>{338, 216}</string>
			<key>spriteSourceSize</key>
			<string>{400, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{682, 646}, {338, 216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Close.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {36, 27}}</string>
			<key>spriteOffset</key>
			<string>{-11, -0}</string>
			<key>spriteSize</key>
			<string>{36, 27}</string>
			<key>spriteSourceSize</key>
			<string>{60, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 271}, {36, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CloseActive.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {44, 33}}</string>
			<key>spriteOffset</key>
			<string>{-13, -0}</string>
			<key>spriteSize</key>
			<string>{44, 33}</string>
			<key>spriteSourceSize</key>
			<string>{72, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 236}, {44, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cupcake1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 29}</string>
			<key>spriteSourceSize</key>
			<string>{32, 29}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 362}, {32, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cupcake2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{33, 29}</string>
			<key>spriteSourceSize</key>
			<string>{33, 29}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 300}, {33, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cupcake3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{33, 29}</string>
			<key>spriteSourceSize</key>
			<string>{33, 29}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 331}, {33, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DownArrow.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {22, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{22, 11}</string>
			<key>spriteSourceSize</key>
			<string>{24, 11}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1000, 390}, {22, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DownArrowSelected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {22, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{22, 11}</string>
			<key>spriteSourceSize</key>
			<string>{24, 11}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 393}, {22, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>GinjaNinjaProfile.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 28}, {358, 222}}</string>
			<key>spriteOffset</key>
			<string>{-7, 11}</string>
			<key>spriteSize</key>
			<string>{358, 222}</string>
			<key>spriteSourceSize</key>
			<string>{400, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 364}, {358, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>HealthbarBorder.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {74, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 18}</string>
			<key>spriteSourceSize</key>
			<string>{74, 18}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{430, 646}, {74, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Host.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {92, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{92, 40}</string>
			<key>spriteSourceSize</key>
			<string>{92, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 526}, {92, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>HostActive.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {108, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{108, 48}</string>
			<key>spriteSourceSize</key>
			<string>{110, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 364}, {108, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Join.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 44}</string>
			<key>spriteSourceSize</key>
			<string>{86, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 568}, {86, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>JoinActive.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {102, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{102, 52}</string>
			<key>spriteSourceSize</key>
			<string>{102, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 414}, {102, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LamboProfile.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 27}, {340, 232}}</string>
			<key>spriteOffset</key>
			<string>{2, 7}</string>
			<key>spriteSize</key>
			<string>{340, 232}</string>
			<key>spriteSourceSize</key>
			<string>{400, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 588}, {340, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LobbyBackground.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 320}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 2}, {480, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainScreenBackground.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 320}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 324}, {480, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Menu.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 22}</string>
			<key>spriteSourceSize</key>
			<string>{52, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 212}, {52, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MenuActive.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 26}</string>
			<key>spriteSourceSize</key>
			<string>{62, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 985}, {62, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MultiPlay.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {206, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{206, 40}</string>
			<key>spriteSourceSize</key>
			<string>{206, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 893}, {206, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MultiPlayActive.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {246, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{246, 48}</string>
			<key>spriteSourceSize</key>
			<string>{248, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 893}, {246, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Paintball_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {6, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{6, 6}</string>
			<key>spriteSourceSize</key>
			<string>{6, 6}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1012, 236}, {6, 6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Paintball_Red.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {6, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{6, 6}</string>
			<key>spriteSourceSize</key>
			<string>{6, 6}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1012, 244}, {6, 6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Play.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {70, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{70, 43}</string>
			<key>spriteSourceSize</key>
			<string>{70, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{231, 822}, {70, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PlayActive.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {84, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 5}</string>
			<key>spriteSize</key>
			<string>{84, 51}</string>
			<key>spriteSourceSize</key>
			<string>{84, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 614}, {84, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PorcusMaximusProfile.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{54, 33}, {336, 224}}</string>
			<key>spriteOffset</key>
			<string>{22, 5}</string>
			<key>spriteSize</key>
			<string>{336, 224}</string>
			<key>spriteSourceSize</key>
			<string>{400, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 667}, {336, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Quit.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 48}</string>
			<key>spriteSourceSize</key>
			<string>{84, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{145, 822}, {84, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>QuitActive.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 56}</string>
			<key>spriteSourceSize</key>
			<string>{100, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 468}, {100, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedCrosshair.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 894}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedCrosshair2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 69}</string>
			<key>spriteSourceSize</key>
			<string>{68, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 893}, {68, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SinglePlay.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {222, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{222, 40}</string>
			<key>spriteSourceSize</key>
			<string>{222, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 943}, {222, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SinglePlayActive.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {266, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{266, 48}</string>
			<key>spriteSourceSize</key>
			<string>{266, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 966}, {266, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TheFarmProfile.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 360}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 360}</string>
			<key>spriteSourceSize</key>
			<string>{480, 360}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {480, 360}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UpArrow.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {22, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{22, 12}</string>
			<key>spriteSourceSize</key>
			<string>{24, 12}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1000, 362}, {22, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UpArrowSelected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {22, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{22, 12}</string>
			<key>spriteSourceSize</key>
			<string>{24, 12}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1000, 376}, {22, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>