<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Death.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 95}</string>
			<key>spriteSourceSize</key>
			<string>{63, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 2}, {63, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Default.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 93}</string>
			<key>spriteSourceSize</key>
			<string>{60, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{253, 2}, {60, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fall-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 98}</string>
			<key>spriteSourceSize</key>
			<string>{60, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 105}, {60, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fall-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 95}</string>
			<key>spriteSourceSize</key>
			<string>{60, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 220}, {60, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fall-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 96}</string>
			<key>spriteSourceSize</key>
			<string>{60, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 205}, {60, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Idle-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 5}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{58, 15}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{186, 149}, {58, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Idle-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 4}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{3, 2}</string>
			<key>spriteSize</key>
			<string>{58, 15}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{186, 132}, {58, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Idle-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 3}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{3, 3}</string>
			<key>spriteSize</key>
			<string>{58, 15}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 136}, {58, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Shoot-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 15}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 115}, {58, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Shoot-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 6}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{58, 15}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 119}, {58, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Shoot-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 15}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 153}, {58, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Swing-Left-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 4}, {58, 19}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 19}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 199}, {58, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Swing-Left-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 3}, {58, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{58, 19}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 199}, {58, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Swing-Right-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{58, 15}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{191, 98}, {58, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun-Swing-Right-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {60, 17}}</string>
			<key>spriteOffset</key>
			<string>{6, -1}</string>
			<key>spriteSize</key>
			<string>{60, 17}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 100}, {60, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gun.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {58, 15}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{58, 15}</string>
			<key>spriteSourceSize</key>
			<string>{78, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{253, 97}, {58, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 96}</string>
			<key>spriteSourceSize</key>
			<string>{60, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 2}, {60, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 98}</string>
			<key>spriteSourceSize</key>
			<string>{60, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 99}, {60, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 101}</string>
			<key>spriteSourceSize</key>
			<string>{60, 101}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {60, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 93}</string>
			<key>spriteSourceSize</key>
			<string>{60, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 228}, {60, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 93}</string>
			<key>spriteSourceSize</key>
			<string>{60, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 317}, {60, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 93}</string>
			<key>spriteSourceSize</key>
			<string>{60, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 267}, {60, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 93}</string>
			<key>spriteSourceSize</key>
			<string>{60, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 400}, {60, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Left-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 94}</string>
			<key>spriteSourceSize</key>
			<string>{60, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 132}, {60, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Left-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 95}</string>
			<key>spriteSourceSize</key>
			<string>{60, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 303}, {60, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Right-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 94}</string>
			<key>spriteSourceSize</key>
			<string>{60, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{191, 2}, {60, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk-Right-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 95}</string>
			<key>spriteSourceSize</key>
			<string>{60, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 170}, {60, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>